#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W         &kp E           &kp R  &kp T                                                   &kp Y          &kp U  &kp I                &kp O             &kp P
&kp A        &kp S         &kp D           &kp F  &kp G      &kp LS(NUMBER_8)       &kp LS(NUMBER_9)      &kp H          &kp J  &kp K                &kp L             &kp MINUS
&mt LSHFT Z  &mt LCTRL X   &mt LEFT_ALT C  &kp V  &kp B      &kp RIGHT_BRACKET      &kp NON_US_BACKSLASH  &kp N          &kp M  &mt RIGHT_ALT COMMA  &mt RCTRL PERIOD  &mt RSHFT UNDER
&lt 3 LANG5  &kp LEFT_WIN  &mo 6           &mo 5  &lt 2 TAB  &lt 4 SPACE            &lt 4 ENTER           &kp BACKSPACE                                                &lt 5 ESCAPE
            >;
        };

        MOUSE {
            bindings = <
&trans          &trans        &trans        &trans  &trans                      &trans  &trans    &trans    &trans  &trans
&trans          &trans        &trans        &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &trans  &trans
&kp LEFT_SHIFT  &kp LCTRL     &kp LEFT_ALT  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans  &trans
&trans          &kp LEFT_WIN  &trans        &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        ARROW {
            bindings = <
&trans                  &trans                  &kp LG(RIGHT)  &trans                   &trans                                             &kp PAGE_UP    &kp RC(LEFT_ARROW)  &kp UP_ARROW    &kp RC(RIGHT_ARROW)  &trans
&kp LG(LS(LEFT_ARROW))  &kp LA(LG(LEFT_ARROW))  &kp LG(LEFT)   &kp LG(LA(RIGHT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &trans         &kp HOME   &kp END        &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &trans
&kp LEFT_SHIFT          &kp LCTRL               &kp LEFT_ALT   &trans                   &kp LC(LS(TAB))          &trans         &trans     &kp PAGE_DOWN  &trans              &trans          &trans               &trans
&trans                  &kp LEFT_WIN            &trans         &kp LS(TAB)              &kp TAB                  &kp SPACE      &kp ENTER  &kp BACKSPACE                                                           &kp ESCAPE
            >;
        };

        NUM {
            bindings = <
&kp GRAVE                &kp NUMBER_7  &kp NUMBER_8  &kp LG(LS(NUMBER_4))  &kp PLUS                          &kp BACKSLASH    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SEMICOLON
&kp SLASH                &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6          &kp ASTERISK  &trans      &trans  &kp EXCLAMATION  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SQT
&mt LEFT_SHIFT NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp PERIOD    &trans      &trans  &kp NUMBER_0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL
&trans                   &trans        &trans        &trans                &trans        &trans      &trans  &kp LEFT_SHIFT                                             &trans
            >;
        };

        SYMBOL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                          &kp F12
            >;
        };

        BT {
            bindings = <
&kp LG(Q)      &kp LC(W)  &trans     &trans     &trans                      &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp LG(LS(Z))  &trans     &kp LC(C)  &trans     &trans  &trans      &trans  &trans      &trans      &trans        &trans        &trans
&kp LG(Z)      &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans  &trans      &trans  &trans      &trans      &trans        &trans        &trans
&trans         &trans     &trans     &trans     &trans  &trans      &trans  &trans                                              &trans
            >;
        };

        SCROLL {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
